extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src="/socket.io/socket.io.js")
  script.
    var socket = io('//localhost:3000');
    socket.on('server message', function (data) {
      console.log(data);
    });
    socket.emit('client message', {message: 'test1'});